.container{
    margin-top: 20vh;
    border: 3px solid blue;
}

.row, .timer{
    background-color: beige;
    text-align: center;
}
h1{
    font-size: 8rem;
    font-family: 'Train One', cursive;
}
.showingTimer{
    font-family: 'Train One', cursive;
}
